.box {
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  padding: 4px;
}

.slider {
  width: 100%;
  vertical-align: middle;
}

.label {
  font-size: small;
  font-weight: bold;
}

.rangeLabel {
  font-size: small;
}
