.box {
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.title {
  font-size: 90%;
  font-weight: bold;
  padding-left: 4px;
  background: #555;
  color: white;
}

.category {
  background: #ccc;
  font-size: small;
  font-weight: bold;
}

.label {
  font-size: small;
  font-weight: normal;
}

.inner {
  margin: 2px 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .slider {
  width: 100%;
  vertical-align: middle;
}

.rangeLabel {
  font-size: small;
}

.modButton {
  margin-left: 2px;
} */
